.color{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
}
#preto{
    background-color: black;
}
#vermelho{
    background-color: red;
}
#azul{
    background-color: blue;
}
#verde{
    background-color: green;
}
#branco{
    background-color: white;
}
#color-palette, #pixel-board{
    width: 250px;
    text-align: center;
}
.pixel{
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    border: 1px solid black;
}