#title{
    text-align: center;
}
.color{
    border: 1px solid black;
    width: 40px;
    height: 40px;
}
.color.preto{
    background-color: black;
}
.color.vermelho{
    background-color: red;
}
.color.azul{
    background-color: blue;
}
.color.verde{
    background-color: green;
}
